/************************************
        FUENTES Y COLORES
************************************/
$fonts: (
    'hbold': ('family': 'Libre Franklin Bold',
        'url': '../fonts/Libre_Franklin/static/LibreFranklin-Bold.ttf',
        'weight': 'bold'
    ),
    'hregular': ('family': 'Libre Franklin Medium',
        'url': '../fonts/Libre_Franklin/static/LibreFranklin-Medium.ttf',
        'weight': 'normal'
    ),
    'text': ('family': 'Libre Baskerville',
        'url': '../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf',
        'weight': 'normal'
    ),
    'quote': ('family': 'Satisfy',
        'url': '../fonts/Satisfy/Satisfy-Regular.ttf',
        'weight': 'normal'
    )
);

@mixin font-face($font) {
    $family: map-get($font, 'family');
    $url: map-get($font, 'url');
    $weight: map-get($font, 'weight', 'normal');
    $style: map-get($font, 'style', 'normal');

    @font-face {
        font-family: $family;
        src: url($url) format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

@each $font,
$props in $fonts {
    @include font-face($props);
}


:root {
    --text-color: #2a2a2a;
    --accent-color: #0b1311;
    --contrast-color: #265200;
    --accent-light-color: #99fea0;
    --contrast-light-color: #ffffff;
    --bg-body-color: #e8ffd1;
}

/************************************
        ESTILOS GENERALES
************************************/

* {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    line-height: 1.5;
    font-family: 'text', serif;
}

/*****Modernizr*****/

.no-boxsizing * {
    margin: 0;
    overflow-x: hidden;
    line-height: 1.5;
    font-family: 'text', serif;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/******************/


h1 {
    font-family: 'hbold', sans-serif;
    font-size: 3rem;
    padding: 3rem 3rem 3rem 3rem;
    position: relative;
    z-index: 3;
}


h2 {
    font-family: 'hregular', sans-serif;
    font-size: 2rem;
    padding: 1rem 1rem 0rem 1rem;
}

h3 {
    font-family: 'hregular', sans-serif;
}

h1,
h2,
h3 {
    text-align: center;
}

p,
li {
    font-size: 1rem;
    padding: 0.6rem 0rem;
}

@media (min-width: 767px) {
    h1 {
        font-size: 5rem;

    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    p,
    li {
        font-size: 1.5rem;
    }
}

blockquote {
    max-width: 60%;
    padding: 0;
    margin: auto;
    overflow: hidden;

    p,
    cite {
        font-family: 'quote', cursive;
        font-size: 2rem;
        color: var(--contrast-color);
    }
}

/************************************
            HEADER
************************************/

.nav-main .container {
    display: flex;
    align-items: center;


    /*Modernizr*/
    .no-flexbox .nav-main .container {
        display: block;
        text-align: center;
    }
}

.nav-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 2rem;

    /*Modernizr*/
    .no-grid .nav-menu {
        display: inline-block;
        justify-content: space-between;
    }

    .no-grid .nav-menu>* {
        flex-basis: calc(50% - 0.5rem);
        margin-bottom: 1rem;
    }

}

@media (min-width: 767px) {
    .nav-menu {
        display: flex;
    }
}

/********Modernizr*********/
.no-flexbox .nav-menu {
    display: block;
}

/************************/
.nav-menu {

    .nav-item,
    .nav-item-active {
        font-weight: 600;
        flex: 1;
        text-align: center;

    }

    .nav-link-active {
        color: var(--contrast-color);
    }

    .nav-link {
        color: var(--text-color);
        line-height: 1em;

    }

    .nav-link:hover,
    .nav-link-active:hover {
        background-color: var(--accent-light-color);
        border-radius: 5px;

    }

}

/************************************
            MENÚ DESPLEGABLE
************************************/

@media (max-width: 767px) {
    nav:not(.nav-bienvenida) {
        width: 300px;
        background: #eaffd8;
        margin: 40px auto;
        border-radius: 10px;
    }

    .container span {
        padding: 30px;
        background: var(--contrast-color);
        color: white;
        font-size: 1.5em;
        text-align: center;
        display: block;
        overflow: hidden;
    }

    .container span::after {
        float: right;
        right: 10%;
        content: "+";
    }

    :not(#body-index)>.nav-menu {
        clear: both;
        height: 0;
        max-height: 100%;
        text-align: center;
        display: list-item;
        overflow: hidden;
        animation-duration: 5s;
        animation-timing-function: ease;
        animation-name: desplegar;
    }

    @keyframes desplegar {
        0% {
            max-height: 0;
        }

        100% {
            max-height: 500px;
        }
    }
    .nav-link-logo {
        max-width: 7rem;
    }
    #touch {
        display: none;
    }

    #touch:checked+label+.nav-menu {
        height: auto;
    }
}

/************************************
            BARRA DE MENÚ
************************************/
@media (min-width: 767px) {

    #touch,
    span {
        display: none;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.nav-link-logo {
    max-width: 7rem;
}

@media (min-width:1000px) {
    .nav-link-logo {

        max-width: 10rem;
    }
}

.nav-link-logo:hover {
    background-color: var(--accent-light-color);
    border-radius: 5px;
}

.nav-main .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /*******Modernizr*********/
    .no-flexbox & {
        display: block;
        justify-content: space-between;
    }
}

@media (min-width: 1000px) {
    h1 {
        padding: 5%;
        padding-top: 10%;
        font-size: 5rem;
    }

    .nav-menu .nav-link,
    .nav-link-active {
        font-size: 1.2rem;
    }

}


/***********************************
            FOOTER
***********************************/

footer {
    background-color: var(--accent-color);
    color: var(--bg-body-color);
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-container {
    padding: 2rem 0rem;
}

.footer-menu,
.footer-top-menu {
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;

    /***Modernizr**/
    .no-flexbox .footer-menu {
        padding: 2rem;
        display: block;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    a {
        color: var(--accent-light-color);
        padding: 0 1.3rem;
    }

    a:hover {
        color: var(--text-color);
        border-radius: 5px;
    }
}

.copy {
    padding: 2rem 0;
    text-align: center;
}

@media (min-width: 767px) {
    footer>p {
        font-size: 1.2rem;
    }
}

.footer-logo {
    filter: brightness(0) invert(1);
    max-width: 5rem;
}




/***********************************
            INDEX
***********************************/

#intro {
    background-image: url('../img/fondo-vertical.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--contrast-light-color);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    z-index: 0;
}

@media (min-width:767px) {
    #intro {
        background-image: url('../img/fondo-lr.webp');

        @media (-webkit-min-device-pixel-ratio: 2),
        (max-resolution: 192dpi) {
            background-image: url('../img/fondo-hr.webp');
        }
    }
}

#intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 6, 6, 0.715);
    mask-image: rgba(65, 17, 17, 0.831);
    z-index: 0;
}

/***Modernizr***/
.no-backgroundsize #intro {
    background-image: url('../img/fondo-lr.webp');
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--contrast-light-color);
    color: var(--contrast-light-color);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

    /*Alternativa a gradient*/
    #intro::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.25);
        z-index: -1;
    }
}

#bienvenida {
    div {
        text-align: center;

    }

    padding: 4rem 0rem 2rem;

    @media (min-width: 767px) {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            text-align: center;
            margin-right: 2rem;
        }

        img {
            vertical-align: middle;
        }
    }
}

.arkham_img {
    clip-path: polygon(13% 13%, 30% 13%, 37% 0%, 50% 8%, 62% 0%, 70% 13%, 87% 13%, 87% 30%, 100% 37%, 92% 50%, 100% 62%, 87% 70%, 87% 87%, 70% 87%, 62% 100%, 50% 92%, 37% 100%, 30% 87%, 13% 87%, 13% 70%, 0% 62%, 8% 50%, 0% 37%, 13% 30%);
}

#body-index .nav-menu {
    display: flex;
}

/*******Modernizr*******/
#body-index .nav-menu {
    color: var(--accent-light-color);
    display: block;
}

/*********************/

#body-index .nav-link {
    color: var(--accent-light-color);
    padding-top: 1.5rem;
    position: relative;
}

#body-index .nav-link:hover {
    background-color: #265200;
}


#body-index p,
#body-index cite {
    padding: 2rem;
    position: relative;
    z-index: 3;
    color: var(--accent-light-color);
}

@media (min-width: 767px) {

    .nav-menu-index {
        color: var(--accent-light-color);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    /********Modernizr**********/
    .no-cssgrid .nav-menu-index {
        display: inline-block;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    /**************************/

    #body-index {
        .nav-link {
            color: var(--accent-light-color);
            background-color: var(--primary-color);
            border-radius: 5px;
            position: relative;
        }

        .nav-item:not(:last-child) {
            border-right: 0px;
            /*Para que no coja el de la general*/
        }
    }

    #body-index {

        blockquote>p,
        .nav-item,
        cite {
            font-size: 2.5rem;
            color: var(--accent-light-color);
        }
    }
}

.logo_index {
    filter: brightness(0) invert(1);
    max-width: 7rem;

    @media (min-width:1000px) {
        max-width: 10rem;
    }
}

/***********************************
            IMÁGENES
***********************************/
img {
    display: block;
    margin: 0 auto;
    max-width: 80vw;
}

figcaption {
    padding: 0rem 1rem;
    margin: auto;
    text-align: justify;
    max-width: 80vw;
}

figcaption>a {
    color: var(--contrast-color);
}

figcaption>a:hover {
    background-color: var(--accent-light-color);
}

@media (min-width: 767px) {

    .sitios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    /********Modernizr*********/
    .no-cssgrid .sitios {

        display: inline-block;
    }

    /************************/
    figure {
        border: 1px solid var(--contrast-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        margin: 20px;
        width: 85%;
        overflow: hidden;
        margin: auto;
        max-width: 50vw;
    }

    /********Modernizr*********/
    .no-boxshadow figure {
        border: 1px solid #ccc;
        margin: 20px;
        width: 85%;
        overflow: hidden;
        margin: auto;
        max-width: 50vw;
    }

    /************************/

    img {
        display: block;
        max-width: 100%;
    }

    figcaption {
        background-color: var(--bg-body-color);
        padding: 10px;
    }

    .miniatura {
        float: right;
        max-width: 50%;
        padding: 1rem 0 0 1rem;
    }
}






/***********************************
            GALERÍA
***********************************/



.contenedor-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .foto-galeria img {
    width: 100%;
    height: auto;
  }
  











// .contenedor-galeria{
//     width: 100%;
//     overflow-x: hidden; 
// }



/***********************************
        ANIMACIÓN
***********************************/

.contacto-icon {
    animation: zoomInAndOut 5s ease-in-out infinite;
    width: 200px;
    display: block;
    margin: auto;
}

@media (min-width: 767px) {
    .contacto-icon {
        max-width: 80%;
        padding-top: 3rem;
        overflow: hidden;
    }
}

@keyframes zoomInAndOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.contacto-icon-svg {
    color: #265200;
}

.contacto-icon text {
    font-size: 0.5rem;
}


/***********************************
        CUERPO DE LAS PÁGINAS
***********************************/

main {
    align-items: center;
    box-sizing: border-box;
    overflow-x: hidden;
    line-height: 1.5;
    text-align: justify;
}

.main-general {
    width: 100%;
    background-image: url('../img/patrón.png');
    background-size: 15%;

    background-repeat: repeat-x;
    background-position: bottom;
    background-repeat: repeat-x;
    background-position: bottom;

}

.main-info,
.main-text {

    padding-bottom: 4rem;
    margin: 0 auto;
    width: 90%;
    margin: auto;


    @media (min-width: 767px) {
        width: 80%;
    }

    @media (min-width:1000px) {
        width: 60%;
    }

    @media (min-width:1000px) {

        .body-general .h1 {
            padding-top: 5rem;
        }
    }
}

.container-info {
    overflow: hidden;
    padding: 2rem;

    @media (min-width: 767px) {
        display: flex;

        /***************Modernizr************/

        .no-flexbox & {
            display: block;
            justify-content: space-between;
        }

    }
}


/***********************************
            FORMULARIO
***********************************/

form {
    padding: 5% 10%;
}

form .ul {
    list-style-type: none;
}

strong {
    color: var(--contrast-color);
}

button {
    border: none;
    color: var(--accent-light-color);
    background-color: var(--contrast-color);
    padding: 1.5rem 2rem;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--contrast-color);
}

/*****Modernizr*****/
.no-boxshadow button {
    border: none;
    color: var(--accent-light-color);
    background-color: var(--contrast-color);
    padding: 1.5rem 2rem;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
    margin: 10px 0;
    border-radius: 5px;
}


/******************/

button:hover {
    color: var(--accent-color);
    background-color: var(--accent-light-color);
}

button:active {
    box-shadow: inset 0px 0px 10px #00000080;

}

/*****Modernizr*****/
.no-boxshadow button:active {
    border: 1px solid #00000080;
}

/******************/


/***********************************
            ENLACES
***********************************/


a {
    color: var(--contrast-color);
}

a:hover {
    background-color: var(--accent-light-color);
}